  ion-item {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                --padding-start: 0;
                
                ion-icon {
                    font-size: 20px;
                    height: 100%;
                    margin: 13px 0 0 0;
                }
            }
            
            ion-text.error {
                display: inline-block;
                margin-top: 5px;
                visibility: hidden;
                font-size: 13px;
                
                &.visible {
                    visibility: visible;
                }
            }
            
            ion-button {
                height: 54px;
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
            }
            
            
            
.form-wrapper {
        padding: 0 30px 30px 30px;
        
        ion-item {
            margin-top: 5px;
        }
        
        ion-button {
            margin-top: 20px;
        }
    }
    
    
    .title{text-align:center;}
